# ===============================
# Maven
# ===============================
/target/
!.mvn/wrapper/maven-wrapper.jar

# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iml
*.iws

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Environment & Secrets
# ===============================
.env
application.properties

# ===============================
# Build files
# ===============================
*.class
